<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.application.miniSCADA">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activities.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.DevelopActivity"
            android:label="@string/title_activity_develop"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.PreDevelopActivity"
            android:label="@string/title_activity_pre_develop"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.ModifyActivity"
            android:label="@string/title_activity_modify"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PopupStatusCommand"
            android:screenOrientation="landscape"
            android:theme="@style/myDialog" />
        <activity
            android:name=".PopupStatus"
            android:screenOrientation="landscape"
            android:theme="@style/myDialog" />
        <activity
            android:name=".PopupLabel"
            android:screenOrientation="landscape"
            android:theme="@style/myDialog" />
        <activity
            android:name=".PopupAnalogSetpoint"
            android:screenOrientation="landscape"
            android:theme="@style/myDialog" />
        <activity
            android:name=".PopupAnalog"
            android:screenOrientation="landscape"
            android:theme="@style/myDialog" />
        <activity
            android:name=".PopupPlc"
            android:screenOrientation="landscape"
            android:theme="@style/myDialog" />
        <activity android:name=".Activities.PreRuntimeActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".Activities.RuntimeActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>